//font
$default-font-size: 1.6rem;


//colors
$color-primary: #B04158;
$color-primary-light: #F3AAAB;
$color-primary-dark: #801A32;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-secondary-light: #D3BA89;
$color-secondary-dark: #B78C3A;
$color-tertiary-light: #769990;
$color-tertiary-dark: #1E463B;



//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;